[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This is the fucking best file explorer for Android TV ??
[access "refs/*"]
	owner = group user/Alejandro Lopez (Kra1o5)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Alejandro Lopez (Kra1o5)
	label-Verified = -1..+1 group user/Alejandro Lopez (Kra1o5)
	push = group user/Alejandro Lopez (Kra1o5)
	read = group user/Alejandro Lopez (Kra1o5)
	rebase = group user/Alejandro Lopez (Kra1o5)
	removeReviewer = group user/Alejandro Lopez (Kra1o5)
	submit = group user/Alejandro Lopez (Kra1o5)
	exclusiveGroupPermissions = label-Code-Review label-Verified push read rebase removeReviewer submit
[access "refs/heads/*"]
	create = group user/Alejandro Lopez (Kra1o5)
	push = +force group user/Alejandro Lopez (Kra1o5)
	pushMerge = group user/Alejandro Lopez (Kra1o5)
	read = group user/Alejandro Lopez (Kra1o5)
	exclusiveGroupPermissions = create push pushMerge read
[access "refs/tags/*"]
	push = +force group user/Alejandro Lopez (Kra1o5)
	exclusiveGroupPermissions = push
